{% load socialaccount %}
<html>
<body>
<h1>Proyecto System Manager - ¡¡Nuestra Primera Iteracción de IS2!! </h1>
{% if user.is_authenticated %}
  <p>Bienvenido a nuestra acogedora web, {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>